@import url('reset.css');
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #343330;
}
.wrapper{
    max-width: 1200px;
    margin: auto;
    background-color: #3B3B3D;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
    overflow: hidden;
    padding: 30px 0 ;
}
#sticky-note{
    position: absolute;
    top:20%;
    left: 0px;
    width: 280px;
    height: auto;
}
#pencil1{
    position: absolute;
    top:15%;
    right: 120px;
    z-index: 1;
}
#pencil2{
    position: absolute;
    top:10%;
    z-index: 1;
    right: 50px;
}
.download-btn{
    position: relative;
    z-index: 1;
    margin:20px auto;
    text-align: center;
    display: block;
    width: 150px;
    padding: 10px;
    background-color: #2980b9;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 3px 10px #666;
}
.halfBG{
    position: absolute;
    background-color: #a1a1a1;
    width: 100%;
    height: 100%;
    bottom: -50%;
    transform: skewY(-15deg);
}
.content{
    max-width: 840px;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(0,0,0,.4);
    position: relative;
    z-index: 3;
    background-color: #fff;
}
.first-col{
    position: absolute;
    width: 33%;
    background-color: #2d2d2d;
    /*min-height: 800px;*/
    height: 100%;
    z-index: 10;
    /*float: left;*/
}
.first-col .profil-pic{
    width: 140px;
    height: auto;
    border-radius: 50%;
    border:2px solid #fff;
    margin: 25px auto;
    display: block;

}
.first-col .info-col{
    max-width: 200px;
    margin: 0 0px 0 auto;
}
.first-col .info-col h2{
    color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    font-weight: lighter;
}
.first-col .info-col ul{
    margin-top: 20px;
}
.first-col .info-col li{
    margin:15px 0;
    width: 100%;
    color: #fff;
    line-height: 1.2em;
}
.first-col .info-col .label{
    display: inline-block;
    /*width: 100%;*/
    margin-left: 10px;
}
.first-col .info-col i{
    display: inline-block;
}
.first-col .info-col a{
    color: inherit;
    text-decoration: none;
}
.first-col .info-col .value{
    display: block;
    font-weight: lighter;
    color: #a1a1a1;
    margin-left: 25px;
    font-size: 14px;
}
/*#info-list .Name{
    background:url(../images/user-icon.png) left 3px no-repeat ;
    background-size: 16px;
}
#info-list .Adress{
    background:url(../images/map-icon.png) left 3px no-repeat ;
    background-size: 16px;
}
#info-list .Phone{
    background:url(../images/phone-icon.png) left 3px no-repeat ;
    background-size: 16px;
}
#info-list .Email{
    background:url(../images/mail-icon.png) left 3px no-repeat ;
    background-size: 16px;
}
#info-list .Website{
    background:url(../images/web-icon.png) left 3px no-repeat ;
    background-size: 16px;
}
#social-list .Facebook{
    background:url(../images/fb-icon.png) left 3px no-repeat ;
    background-size: 16px;
}
#social-list .Twiter{
    background:url(../images/twitter-icon.png) left 3px no-repeat ;
    background-size: 16px;
}
#social-list .Linkedin{
    background:url(../images/linkedin-icon.png) left 3px no-repeat ;
    background-size: 16px;
}
#social-list .Github{
    background:url(../images/github-icon.png) left 3px no-repeat ;
    background-size: 16px;
}
#social-list .Behance{
    background:url(../images/behance-icon.png) left 3px no-repeat ;
    background-size: 16px;
}*/
.second-col{
    float: left;
    /*position: absolute;*/
    width: 67%;
    margin-left: 33%;
    z-index: 10;
}
.second-col h1{
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 60px;
}
.second-col h2{
    font-weight: normal;
    font-size: 1.2em;
    color: #555;
    text-transform: uppercase;
}
.second-col .title, .second-col .details{
    max-width: 520px;
    padding-right: 20px;
    margin:auto;
}
.second-col .details{
    padding-top: 20px;
}
.second-col .details .itemDetail{
    margin: 30px 0;
}
.second-col .details img{
    float: left;

}
.second-col .details h2{
    color: #424242;
    border-bottom: 2px solid #424242;
    text-transform: uppercase;
    font-weight:400;
    margin: 10px 0;
    padding: 4px 0 8px 0; 
    margin-left: 45px;
    font-size: 1em;
}
.second-col .details img{
    vertical-align: middle;
    width: 28px;
    height:auto;
}
.second-col .details p{
    margin-left: 45px;
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.4em;
}
.second-col ul{
    margin: 0 0 0 15px;
    border-left: 2px solid #7f7f7d;
    padding:1px 0;
}
.second-col ul li{
    margin: 20px 0;
}
.second-col ul li .date{
    margin: 0 15px 0 20px;
}
.second-col ul li .title{
    font-weight: bold;
    display: inline-block;
}
.second-col ul li .company{
    font-weight: lighter;
    font-style: italic;
    display:block;
    margin:5px 0 0 30px;
}
.second-col ul li .company a{
    color: inherit;
}
.second-col ul li .desc{
    line-height: 1.2em;
    font-weight: lighter;
    /*font-style: italic;*/
    display:block;
    margin:5px 0 0 30px;
}
.second-col ul li:before{
    background-size: 10px 10px;
    background-image: url("../images/bullet-icon.png");
    width: 10px;
    height:10px;
    display: inline-block;
    content: " ";
    margin-left: -6px;
    }
.second-col .itemDetail .skills{
    margin:0 0 20px 15px;
    padding: 25px 0 25px 25px;
    border-left: 2px solid #7f7f7d;
    line-height: 1.5em;
    font-weight: lighter;
}
.second-col .itemDetail .skills .itemSkill{
    display: block;
    padding: 3px;
    float: left;
}
.second-col .itemDetail .skills .itemSkill .skillName{
    display: inline-block;
    background-color: #eee;
    border: 1px solid  #3C75B1;
    padding: 0px 5px;
    border-radius: 2px;
    color: #333;
}
.second-col .itemDetail .skills .itemSkill .skillBar{
    margin: -1em 0 0 70px;
    height: 10px;
    background-color: #cccccd;
    display: block;
}
.second-col .itemDetail .skills .itemSkill .skillBar .skillBarProgress{
    height: 10px;
    background-color: #707175;
    display: block;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
#loading{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    z-index: 999;
}
#loading span{
    position: absolute;
    margin: 30% 0 0 50%;
}

@media print {
    .second-col .details .itemDetail{
        padding: 0 0 15px;
    }
    /*.second-col .details .itemDetail{
        margin: 10px 0px;
    }*/
    .first-col .info-col i{
        color: #333;
    }
    .first-col .info-col .label{
        color: #333;
    }
    .first-col .info-col .value{
        color: #000;
    }
    .first-col .info-col h2{
        color: #666;
        border-bottom: 1px solid #666;
    }
    .first-col .profil-pic{
        border-color: #333;
    }
    .wrapper{
        padding: 0px;
        width: 100%;
        max-width: 2000px;
        box-shadow: none;
        margin: 0px;
    }
    .download-btn{
        display: none;
    }
    .bg-image{
        display: none;
    }
    .content{
        width: 100%;
        max-width: 100%;
    }
    .first-col{
        background-color: #aaaa;
    }
    .first-col .info-col{
        margin: 0px 5px 0 auto;
    }
    .skills_section{
        margin-top: 200px;
    }
}